.accounts-search {
	margin-bottom: 15px;
}

.search-input-filter:focus {
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.full-width {
	width: 100%;
}

.clickable {
	cursor: pointer;
}
